celery
dotenv
openpyxl
Django
djangorestframework
djangorestframework-simplejwt
django-ckeditor-5
django-cors-headers
drf-spectacular
httpx
qrcode
phonenumbers
Pillow
psycopg2-binary
pydantic-settings
redis
whitenoise
