/* Статистика */
.statsGrid {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.statCard {
  flex: 1;
  background: linear-gradient(135deg, #001821, #00678E);
  border-radius: 16px;
  padding: 16px;
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
  box-shadow: 0 4px 12px rgba(102, 126, 234, 0.2);
}

.statIcon {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statIcon svg {
  width: 24px;
  height: 24px;
  stroke: white;
}

.statInfo {
  display: flex;
  flex-direction: column;
}

.statNumber {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.statLabel {
  font-size: 12px;
  opacity: 0.9;
  margin-top: 4px;
}

/* Секции */
.sectionTitle {
  position: relative;
  font-size: 18px;
  color: white;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 2;
}

.sectionDescription {
  position: relative;
  font-size: 14px;
  color: grey;
  margin-bottom: 16px;
  line-height: 1.4;
  z-index: 2;
}

/* Реферальная ссылка */
.referralSection {
  position: relative;
  background: linear-gradient(135deg, #001821, #00678E);
  border-radius: 16px;
  padding: 20px;
  z-index: 2;
  /*border: 1px solid #eef1ff;*/
}

/*.referralLinkContainer {
  margin: 16px 0;
}
*/
.referralLink {
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 14px 16px;
  margin-bottom: 12px;
  overflow: hidden;
}

.linkText {
  font-family: 'Monaco', 'Menlo', monospace;
  font-size: 14px;
  color: #333;
  word-break: break-all;
  line-height: 1.4;
}

.linkActions {
  display: flex;
  gap: 8px;
}

.actionButton {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  border-radius: 12px;
  /*border: 1px solid #667eea;*/
  border: None;
  background: white;
  color: black;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 2;
}

.actionButton:hover {
  opacity: 0.9;
}

.actionButton:disabled {
  opacity: 0.8;
  cursor: not-allowed !important;
}

.actionButton.copied {
  background: skyblue;
  color: white;
}

.actionText {
  color: black;
  font-size: 14px;
}

.bgIcon {
  position: absolute;
  top: 0;
  left: 93px;
  pointer-events: none;
}

.bgIcon img {
  height: 260px;
  weight: 260px;
  object-fit: contain;
  z-index: 1;
}