*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 18px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  line-height: 1.5;
  overflow: auto; /* Оставить возможность скролла */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Inter', sans-serif;

  background-color: #0B0704;
  color: white;
}

.container {
  padding: 16px 16px 100px;
}


@font-face {
    font-family: 'Days One';
    src: url('./assets/fonts/DaysOne-Regular.woff2') format('woff2'),
         url('./assets/fonts/DaysOne-Regular.woff') format('woff'),
         url('./assets/fonts/DaysOne-Regular.ttf') format('truetype'); /* fallback */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
