.content {
  display: flex;
  flex-direction: column;
  /*gap: 32px;*/
}

.section {
  /*padding: 24px 0;*/
}

.detailsGrid {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detailItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.text {
  font-size: 12px;
  font-weight: normal;
}

/* CKEditor Content Styles */
.content p {
  /*margin-top: 4px;*/
}

.content h1,
.content h2,
.content h3,
.content h4{
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 4px;
}

.content ul,
.content ol {
  margin-left: 24px;
}
